@charset "UTF-8";
.item{
    width: 200px;
    height: 75px; 
    color: white;
    text-align: center;
    line-height: 75px;
    
    
}
.item1{
    background-color: hwb(0 0% 100%);
    margin-right: auto;
}
.item2{
    background-color: orange;
    margin-left: auto;
   
}
.item3{
    background-color: rgb(124, 0, 128);
    margin-left: 200px;
}
.item4{
    background-color: hwb(0 0% 0%);
    margin-left: auto;
    transform: translate(-200px);
}
.item5{
    background-color: rgb(22, 221, 221);
    margin-left: auto;
    margin-right: auto;
}
.item6{
    background-color: rgb(59, 4, 25);
    margin: auto;
}
